.cart {
  display: flex;
  margin: 15px 0 0 15px;
  flex-wrap: wrap;
}

.cart__empty {
  font-size: 12px;
}

.cart__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.cart__right {
  margin-bottom: 15px;
}

.cart__left {
  flex: 1;
}
