.product {
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 1;
  flex: 1;
}

.product__info {
  padding: 20px;
  height: 100%;
}

.product__star {
  display: flex;
  flex-wrap: wrap;
}

.product__image {
  object-fit: contain;
  max-height: 200px;
  width: 100%;
}

.product__price {
  color: #cd5e04;
}

.product > Button {
  background-color: #f2ca66 !important;
  border: solid 1px;
  font-size: 12px;
  text-transform: none;
  margin-bottom: 10px;
}
